$font-family--sans-serif:  Nunito, sans-serif;
$font-family-serif-dosis: Dosis, sans-serif;


$base-font-size: 62.5%;
$base-line-height: 1.6;
$base-bg: #f9f6f6;
$base-font-color: rgb(0, 0, 0);
$anchor-font-color: #000000;
$base-font-family: $font-family--sans-serif;
$base-font-weight: 400;

$letter-spacing: 0.4px;
$text-color-grey: #000000;

$primary-color: #3091be;
// $secondary-color: #202124;
$secondary-color: #000000;
$text-color: #000000;

$breakpoint-xsmall: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;

