<!-- <div class="listing">
    <h3 class="listing__title">TOP 10 FILM</h3>
    <p-carousel [value]="nowPlaying" [numVisible]="5" [numScroll]="5" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-movie pTemplate="item">
            <div class="listing-item-style" routerLinkActive="active">
                <div>
                    <a [routerLink]="['/movies/', movie.id]"><img *ngIf="movie?.poster_path"
                            src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
                            [alt]="movie.title" class="product-image" /></a>
                    <h4 style="text-align:center">
                        {{ movie.title | titlecase }}</h4>
                    
                    <p class="rate"><span>{{movie?.release_date | date: 'YYYY'}} | </span><span>Popularity:
                            {{movie?.popularity}} </span></p>
                    <br>
                </div>
            </div>

            <button mat-raised-button type="submit" class="form-control btn btn-primary rounded submit px-3 mt-2"
                (click)="getEventByYear(movie?.release_date)">
                <h3 class="centered-element" style="text-align:center">VEDI EVENTI STORICI</h3>
            </button>
        </ng-template>
    </p-carousel>
</div>
<br>
<br>

<p-carousel [value]="events" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <br>
        <h5 class="listing__title">EVENTI STORICI COLLEGATI AL MESE E ANNO DEL FILM SELEZIONATO</h5>
    </ng-template>
    <br>
    <ng-template let-event pTemplate="item">
        <div class="listing-events-style">
            <div>
                <h4 style="text-align:center">
                    {{ event.event | titlecase }}</h4>
                <h4 style="text-align:center">Year: <span>{{event?.year}} | Month: <span>{{event?.month}}</span></span>
                </h4>
            </div>
            <br>
        </div>
    </ng-template>
</p-carousel> -->

<div class="listing">
    <h3 class="listing__title">TOP 10 FILM</h3>
 <p-carousel [value]="nowPlaying" [numVisible]="5" [numScroll]="5" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-movie pTemplate="item">
            <div class="listing-item-style" routerLinkActive="active">
                    <div>
                    <a [routerLink]="['/movies/', movie.id]"><img *ngIf="movie?.poster_path"
                        src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}" [alt]="movie.title" class="product-image" /></a>
                        <h4 style="text-align:center">
                        {{ movie.title | titlecase }}<br></h4>
                        <br>
                        <p class="rate"><span>{{movie?.release_date | date: 'YYYY'}} | </span><span>Popularity: {{movie?.popularity}} </span></p>
                    </div>
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <button type="submit" *ngIf="onSubmit" class="btn btn-light" style="background-color: #8C0335">
                          <p>Add Preferiti</p>
                        </button>
                    </form>
            </div>
            <div>
        </div>
        <button type="submit" style="width:100%; margin: auto;" class="btn btn-dark" (click)="getEventByYear(movie.release_date)">EVENTI STORICI</button>
         <!--<button class="button-31" role="button" type="submit" style="width:100%; margin: auto;" (click)="getEventByYear(movie?.release_date)">EVENTI STORICI</button> -->
             <!-- <button mat-raised-button type="submit" class="form-control btn btn-primary rounded submit px-3 mt-2" (click)="getEventByYear(movie?.release_date)">
                <h3 class="centered-element" style="text-align:center">VEDI EVENTI STORICI</h3>
            </button> --> 
        </ng-template>
        
    </p-carousel>
    
</div>
    <br>
    <br>
    <p-carousel [value]="events" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <br>
            <h3 class="listing__title">EVENTI STORICI COLLEGATI</h3>
        </ng-template>
        <br>
        <ng-template let-event pTemplate="item">
            <div class="listing-events-style">
                    <div>
                        <h4 style="text-align:center">Year: <span>{{event?.year}} | Month: <span>{{event?.month}}</span></span></h4>

                        <h4 style="text-align:center">
                        {{ event.event | titlecase }}</h4>
                        </div>
                       
        
                        <br>
            </div>
        </ng-template>
    </p-carousel>