<div>
    <label>
        <span style="text-align:center">Data di Inizio</span>
        <input type="date" class="form-control" id="start-date" [max]="endDateFilter" [(ngModel)]="startDateFilter" />
    </label>
    <label>
        <span>Data di Fine</span>
        <input type="date" class="form-control" id="stop-date" [min]="startDateFilter" [(ngModel)]="endDateFilter" />
    </label>
    <button mat-raised-button type="submit" class="form-control btn btn-primary rounded submit px-3 mt-2"
        (click)="onFormSubmit()">
        <h3 class="centered-element" style="text-align:center">CERCA FILM</h3>
    </button>
</div>


<div *ngIf="isDateFiltered">
    <div>
        <tnv-movies [startDateFilter]="startDate" [endDateFilter]="endDate"> </tnv-movies>
    </div>
</div>